# Tales of Tribute Match Scores

This project analyzes a spreadsheet of match details from *The Elder Scrolls Online's* Tales of Tribute (ToT) deck-building card game and returns easy to skim information for choosing decks in future matches. Each game starts with players taking turns choosing four decks, with 30s for each choice. Player 1 chooses one deck to start, followed by player 2 choosing both of their decks. Player 1 then has the chance to choose the fourth deck. The combination of decks in a game can have a significant impact on the outcome. Most players are more comfortable with specific combinations, and have an easier time winning with them but might fail to notice if their favorites are weak to a specific deck. It's also important to make sure that there are multiple ways to win with the combined decks chosen for a match--some combinations come down to luck of the draw significantly more often than others, with fewer options for recovering once you fall behind.

__Objective:__ analyze past match outcomes and return information to inform deck selection at the start of future matches in a quick-to-read format.

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle
import matplotlib.ticker as mticker
import seaborn as sns

import gspread
from gspread_dataframe import get_as_dataframe, set_with_dataframe

In [3]:
# rearrange decks in string alphabetically and return
def sort_decks(chosen_decks):

	decks = chosen_decks.lower()
	decks = decks.split()

	decks.sort()
	combined = ''

	for i in range(len(decks)):
		combined = combined + decks[i] + ' '

	decks = combined.strip()
	return decks

In [4]:
# color deck cells
colors = {
    'black': '#878a92', 
    'blue': '#a5b5d9', 
    'green': '#8bc18b', 
    'orange': '#e8987d', 
    'orgnum': '#badade',
    'purple': '#b385e0', 
    'red': '#de6e71', 
    'yellow': '#f2d1a6'}

def color_chart(value):
    if value in labels:
        color = colors[value]
        return 'background-color: %s' % color

##### Import data

In [5]:
# import txt files from combinations.py

# deck combinations (x4) for scores df
combos = pd.read_csv("combinations.txt", names=["deck1", "deck2", "deck3", "deck4"])

# deck combinations (x3) for fourth deck choice chart df
choice = pd.read_csv("choice.txt", names=["deck1", "deck2", "deck3"])

In [6]:
# import from google sheets
# open tribute file
gc = gspread.service_account()
sh = gc.open("Tales of Tribute") # names of Sheets file

# import matches spreadsheet
df = get_as_dataframe(sh.worksheet("matches"))

df.head()

,choice,opponent,p1 first,p2 first,p2 second,p1 second,result,notes
0,2.0,miribeans,black,red,green,blue,W,NaN
1,1.0,Kovuash,red,yellow,purple,green,W,NaN
2,2.0,Kovuash,red,green,black,purple,L,NaN
3,1.0,Kovuash,green,red,purple,yellow,W,NaN
4,1.0,RagedAvenger,green,blue,yellow,red,W,great cards

##### Clean data

In [7]:
# remove any matches with missing details
df = df.dropna(subset=['p1 first', 'p2 first', 'p2 second', 'p1 second', 'result'])

# reset index
df.reset_index(inplace=True, drop=True)

# convert choice order columns to integers
df["choice"] = df["choice"].apply(int)

# replace nan in notes column with empty strings
df["notes"] = df["notes"].replace(np.nan, "", regex=True)

In [8]:
# remove whitespace from spreadsheet decks + results & convert to lowercase
df['p1 first'] = df['p1 first'].str.strip().str.lower()
df['p2 first'] = df['p2 first'].str.strip().str.lower()
df['p1 second'] = df['p1 second'].str.strip().str.lower()
df['p2 second'] = df['p2 second'].str.strip().str.lower()
df['result'] = df['result'].str.strip().str.lower()

# remove whitespace from opponent names
df['opponent'] = df['opponent'].str.strip()

# print unique values from the 'result' col to convert to number value
df.result.unique()

array(['w', 'l', 'c', 'dc'], dtype=object)

The 'notes' column is only used for occasional comments on a match or opponent, so NaN was replaced with empty strings for readability. 
Rows missing the chosen decks and result were removed.

Columns for choice order and the current update are only included for potential match filtering, so both were converted to integers.

All unique values contained in the 'result' column were printed to convert match outcomes to number values.

In [9]:
# match record values used
# results column values in df
win = "w"
loss = "l"
concede = "c" # optional

# deck names used by combinations.py
labels = np.unique(combos[["deck1", "deck2", "deck3", "deck4"]].values)
# decks names used in matches spreadsheet
test = np.unique(df[["p1 first", "p2 first", "p2 second", "p1 second"]].values)

# make sure deck names are entered correctly in spreadsheet
np.array_equal(labels, test)

True

In [10]:
# create new columns to hold number values for results of each match
df["won"] = 0
df["lost"] = 0

# split results column into either won or lost col
df.loc[df["result"] == win, "won"] = 1
df.loc[df["result"] == loss, "lost"] = 1
df.loc[df["result"] == concede, "lost"] = 1

# check rows where neither 'won' or 'lost' were changed to 1
display(df[df['won'] + df['lost'] < 1])

,choice,opponent,p1 first,p2 first,p2 second,p1 second,result,notes,won,lost
49,1,qkslzodla,green,orgnum,purple,yellow,dc,internet went out,0,0
51,1,aestrivex,green,blue,orange,yellow,dc,internet went out,0,0
325,2,Slick-Fox,purple,green,yellow,black,dc,fml,0,0
400,1,NordCarbon,red,orange,blue,yellow,dc,disconnected,0,0

Two columns were created to hold number values representing match results. I used "deck3" in the match log for games where I conceded before the end of the match, so those were counted as losses. "DC" was used for games that were unfinished due to being disconnected from the game server, so I left both columns as 0 for those (even though technically the game registers them the same as conceding).

In [11]:
df.head()

,choice,opponent,p1 first,p2 first,p2 second,p1 second,result,notes,won,lost
0,2,miribeans,black,red,green,blue,w,,1,0
1,1,Kovuash,red,yellow,purple,green,w,,1,0
2,2,Kovuash,red,green,black,purple,l,,0,1
3,1,Kovuash,green,red,purple,yellow,w,,1,0
4,1,RagedAvenger,green,blue,yellow,red,w,great cards,1,0

In [12]:
# create new column with all four chosen decks
df["chosen decks"] = (
    df["p1 first"]
    + " "
    + df["p2 first"]
    + " "
    + df["p2 second"]
    + " "
    + df["p1 second"]
)

# sort decks values alphabetically
for i, value in enumerate(df["chosen decks"]):
    decks = sort_decks(value)
    df.at[i, "chosen decks"] = decks

df.head(5)

,choice,opponent,p1 first,p2 first,p2 second,p1 second,result,notes,won,lost,chosen decks
0,2,miribeans,black,red,green,blue,w,,1,0,black blue green red
1,1,Kovuash,red,yellow,purple,green,w,,1,0,green purple red yellow
2,2,Kovuash,red,green,black,purple,l,,0,1,black green purple red
3,1,Kovuash,green,red,purple,yellow,w,,1,0,green purple red yellow
4,1,RagedAvenger,green,blue,yellow,red,w,great cards,1,0,blue green red yellow

Combined the four decks for each match into one string (sorted alphabetically) in a new column, for matching with unique deck combinations.

In [13]:
# combine win & loss sums into scores df
scores = pd.concat((df.groupby("chosen decks")["won"].sum(), df.groupby("chosen decks")["lost"].sum()), axis=1)

# create column of total matches per deck combination
scores["total"] = scores["won"] + scores["lost"]

# create column of % of matches that are wins per unique combination
scores["% wins"] = (scores["won"] / scores["total"]).round(decimals=2)

scores.head(5)

                          won  lost  total  % wins
chosen decks
black blue green purple     0     2      2    0.00
black blue green red       11     2     13    0.85
black blue green yellow    17    10     27    0.63
black blue orange red       3     0      3    1.00
black blue orange yellow   15     8     23    0.65

 Grouped the dataframe by the 'chosen decks' column to find the sum of wins and losses for each unique combination of decks. The won and lost columns were combined to find the total number of matches completed with each unique combination, and the percent of games that were won for each deck type was found by dividing the number of matches won by the total number of matches for each combination.
 
A high success rate means less with fewer matches played, so being able to see both the total and success rate is helpful when deciding which deck to choose.

In [14]:
# combine combos decks in new column
combos["chosen decks"] = (
    combos["deck1"]
    + " "
    + combos["deck2"]
    + " "
    + combos["deck3"]
    + " "
    + combos["deck4"]
)

# sort decks values alphabetically
for i, value in enumerate(combos["chosen decks"]):
    decks = sort_decks(value)
    combos.at[i, "chosen decks"] = decks

# put chosen decks column before individual deck choice columns
combos = combos[["chosen decks", "deck1", "deck2", "deck3", "deck4"]]

combos.head(5)

              chosen decks  deck1 deck2  deck3   deck4
0  black blue green orange  black  blue  green  orange
1  black blue green orgnum  black  blue  green  orgnum
2  black blue green purple  black  blue  green  purple
3     black blue green red  black  blue  green     red
4  black blue green yellow  black  blue  green  yellow

Pulled a list of all possible unique combinations from a text file. After making sure they were all lowercase, the values from the four separate columns were combined into one 'chosen decks' column to match up with the scores dataframe. The combinations sheet already has the decks in alphabetical order, so they should already match up with the decks df without sorting.

In [15]:
# left merge scores onto df of all deck combinations
combos = combos.merge(
    scores, how="left", left_on="chosen decks", right_index=True
)

combos.head(5)

,chosen decks,deck1,deck2,deck3,deck4,won,lost,total,% wins
0,black blue green orange,black,blue,green,orange,NaN,NaN,NaN,NaN
1,black blue green orgnum,black,blue,green,orgnum,NaN,NaN,NaN,NaN
2,black blue green purple,black,blue,green,purple,0.0,2.0,2.0,0.00
3,black blue green red,black,blue,green,red,11.0,2.0,13.0,0.85
4,black blue green yellow,black,blue,green,yellow,17.0,10.0,27.0,0.63

Merged the scores dataframe with the combos dataframe, to make sure unused deck combinations (like the first two rows) were included.

In [16]:
# fill any blanks from unused combinations with 0s or blanks
combos.fillna({"won": 0, "lost": 0, "total": 0}, inplace=True)

display(combos)

,chosen decks,deck1,deck2,deck3,deck4,won,lost,total,% wins
0,black blue green orange,black,blue,green,orange,0.0,0.0,0.0,NaN
1,black blue green orgnum,black,blue,green,orgnum,0.0,0.0,0.0,NaN
2,black blue green purple,black,blue,green,purple,0.0,2.0,2.0,0.00
3,black blue green red,black,blue,green,red,11.0,2.0,13.0,0.85
4,black blue green yellow,black,blue,green,yellow,17.0,10.0,27.0,0.63
...,...,...,...,...,...,...,...,...,...
65,orange orgnum purple red,orange,orgnum,purple,red,0.0,1.0,1.0,0.00
66,orange orgnum purple yellow,orange,orgnum,purple,yellow,0.0,1.0,1.0,0.00
67,orange orgnum red yellow,orange,orgnum,red,yellow,1.0,0.0,1.0,1.00
68,orange purple red yellow,orange,purple,red,yellow,6.0,1.0,7.0,0.86
69,orgnum purple red yellow,orgnum,purple,red,yellow,1.0,2.0,3.0,0.33

Filled in missing values for unused deck combinations. The '% wins' column was left unchanged to avoid reading a deck combination with zero matches total for a combination with 100% losses.

In [17]:
# move choesen decks to end before sending to google sheets
combos = combos[["deck1", "deck2", "deck3", "deck4", 'won', 'lost', 'total', '% wins', 'chosen decks']]

# update sheet with current combo results
worksheet = sh.worksheet("scoresdf")

#set_with_dataframe(worksheet, combos)
print("scoresdf updated")

scoresdf updated

Updated the scoresdf sheet with the result sums for the unique deck combinations in the combos dataframe.

## Opponent deck choice patterns

At the start of each match, player 1 chooses one deck, followed by player 2 choosing 2 decks. Player 1 then gets to choose the final deck. Some deck combinations tend to have results more sensitive to RNG/"luck of the draw", and having the chance to choose the final deck can mean avoiding those combinations (and any others I struggle with). The list of wins and losses per deck combination is enough for making the last choice as player 1, but it's difficult as player 2 to figure out which two decks will be safest alongside whatever player 1 chooses. For example, if player 1 chooses blue, I might choose black and yellow. Of the remaining options for the final deck, green means a combination I've won 60% of the time, orange means a combination I've won 65% of the time, and orgnum or red would mean combinations I've won with at least 50%+. But if they choose purple, it's probably not going to go well: I've only won 1 out of 4 games with the black, blue, purple, and yellow decks. If I knew in advance they were going to choose purple for the final deck, I wouldn't pick black and yellow.

 While most players don't have much of a noticeable pattern to their choices, some players choose the same two decks no matter what decks I choose, even if I've won against them several games in a row with those four decks in some cases. Being able to quickly see if the other player has an obvious pattern to their past choices can help avoid a match I'm more likely to lose.

In [18]:
# create new columns
df["op deck 1"] = ""
df["op deck 2"] = ""

# fill new columns based on choice order
for i, value in enumerate(df["choice"]):
    if value == 1:
        # fill new cols for matches as player 1
        df.at[i, "op deck 1"] = df.at[i, "p2 first"]
        df.at[i, "op deck 2"] = df.at[i, "p2 second"]

    elif value == 2:
        # fill new cols for matches as player 2
        df.at[i, "op deck 1"] = df.at[i, "p1 first"]
        df.at[i, "op deck 2"] = df.at[i, "p1 second"]

Created new columns for the opposing player's deck choices in each match. The new column values are taken from either the p1 or p2 first and second columns, depending on the value in the choice order column. Only the opponent's deck choices are saved.

In [19]:
# filter dataframe for opposing player sheet
players = df[
    [
        "opponent",
        "op deck 1",
        "op deck 2",
        "won",
        "lost",
        "notes",
    ]
]

# sort matches by opponent username
players = players.sort_values(by="opponent", key=lambda col: col.str.lower())

# reset index
players.reset_index(drop=True, inplace=True)

display(players)

,opponent,op deck 1,op deck 2,won,lost,notes
0,(forgot to write down),purple,red,0,1,cards betrayed me literally at the end
1,"(player, forgot to write)",red,yellow,0,1,cards were against me
2,Absinthe197,green,black,1,0,unranked casual
3,Actual_Cat,purple,black,1,0,unranked casual
4,aestrivex,blue,orange,0,0,internet went out
...,...,...,...,...,...,...
564,Zetshimaru,red,black,0,1,super lean decks--maybe pick orange next time
565,Zetshimaru,red,black,1,0,
566,zippyzar,orange,black,1,0,
567,zippyzar,orange,black,1,0,luck of draw but not awful
568,Zorradon,black,green,1,0,

In [20]:
# set worksheet to save players to
worksheet = sh.worksheet("players")

# save worksheet to Google Sheets
#set_with_dataframe(worksheet, players)
print("players worksheet updated")

players worksheet updated

##### Single deck performances

In [21]:
# create an empty dictionary to hold the mean success rates
single_decks = {}

for label in labels:
    # find all chosen deck combinations containing an individual deck
    filtered = combos[combos["chosen decks"].str.contains(label, na=False)]
    # find the mean success rate with combinations including that deck
    single_decks[label] = filtered["% wins"].mean()

In [ ]:
sns.set_style('darkgrid')
fig, axs = plt.subplots(figsize=(5, 20), facecolor="w", dpi=200)

# create horizontal bar graph for each deck type
x = combos['chosen decks'][combos['chosen decks'].str.contains(key)].str.replace(key + ' ', '')
y = (combos['% wins'][combos['chosen decks'].str.contains(key)])
y = y.fillna(0)

    ax.barh(x, y, height=1, color=colors[key], alpha=0.75)

    ax.set_title("Tales of Tribute: {} Deck".format(titles[key]), **title)

    # add deck and value labels to bars
    for i, (cmb, pr) in enumerate(zip(x, y)):
        ax.text(s=cmb, x=1, y=i, color="w", va="center", ha='left', size=4)
        ax.text(s=str('{:.1f}%'.format(pr * 100)), x=pr, y=i, color="w",
             va='center', ha="right", size=4)

    for spine in ax.spines.values():
        spine.set_edgecolor("w")

##### Choice chart df

In [45]:
# create "chosen decks" column
choice['chosen decks'] = choice["deck1"] + ' ' + choice["deck2"] + ' ' + choice["deck3"]
#choice = choice[['chosen decks']]

# create a column for each deck label in choice df
for label in labels:
    choice[label] = ""

In [46]:
# loop through each single deck
for label in labels:
    for i, value in enumerate(choice["chosen decks"]):
        # add % wins if deck label isn't already in "chosen decks" value
        if label not in value:
            # add label as fourth deck
            decks = value + ' ' + label
            
            # sort combined decks alphabetically
            decks = sort_decks(decks)

            # find combined decks in combos df to get % wins value
            mask = combos['chosen decks'] == decks
            deck_wins = combos[mask]
            deck_wins = deck_wins['% wins'].iloc[0]
            deck_wins = (deck_wins * 100)
        
            # add % wins value to choice df
            choice.at[i, label] = deck_wins
        
        elif label in value:
            pass

##### Opponent deck choices

In [22]:
opponent = "Eliaticstranger"
opp_prefs = players[players["opponent"] == opponent]

opp_prefs = opp_prefs[['opponent', 'op deck 1', 'op deck 2']]

opp_prefs.style.applymap(color_chart)

In [ ]:
#choice = choice.drop(columns=['chosen decks'])

# set worksheet to save players to
worksheet = sh.worksheet("choose")

# save worksheet to Google Sheets
set_with_dataframe(worksheet, choice)
print("choose worksheet updated")

## Visualizations

In [ ]:
# plot bar colors


# plot title formatting
title = {'color':'slategray', 'size':6}

In [ ]:
# bar graph of each deck's performance from single_decks